*{
    box-sizing: border-box;
}

body{
    background: #5451fa;
}

h2{
    margin-top: 0%;
}

.main{
    width: 90vw;
    background: #fff;
    border-radius: 20px;   
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}


.top{
    display: flex;
    flex-direction: row-reverse;
}

.top>a{
    margin: 10px;
}

.top>a>*{
    width: 30px;
}

.face{
    text-align: center;
}

.header{
    width: 90%;
    border-radius: 20px;
}

.user-image{
    width: 30%;
    transform: translateY(-50%);
}

.check-icon{
    fill: #5451fa;
}

.description{
    margin: auto 20px;
}

.data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 20px;
}

.number{
    font-size: 2rem;
    font-weight: bold;
}

.number:nth-child(2){
    color: #5451fa;
}

.sign{
    color: #fff;
    background: #5451fa;
    text-decoration: none;
    width: 90%;
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    font-size: larger;
    
}

.info{
    margin: 20px;
}


/* delete the space */

.face>h2, .face>p, .data, .sign, .info{
    transform: translateY(-30px);
}


@media screen and (min-width: 600px){
    .main{
        width: 420px;
        margin: auto;
    }
}

/* 

## Colors

-   Pale Lavender: #dcdafe

-   Armadillo: #4a4a4a

-   Aluminum: #979797

### Body Copy

-   Main Font size: 16px
-   Bigger Font sizes: 18px + 24px

### Fonts

-   Weights: 400, 600

*/
